@use "variables" as *;
@use "mixins" as mixins;

%sub-menu-items {
  display: inline-block;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@mixin transform-menu($X, $opacity) {
  transform: translateX($X);
  opacity: $opacity;
}

.site-header {
  background-color: $light-blue-theme;
  @include mixins.flex-custom($justify: space-between);
  padding: 0 3.5rem;
  position: fixed;
  width: 100%;
  &__logo {
    > img {
      @include mixins.assignValue(width height min-width min-height, 4rem);
    }
  }

  .site-header__nav {
    // NAV TOGGLE //
    &.show {
      > ul {
        width: 70%;
      }
    }

    > ul {
      position: absolute;
      @include mixins.assignValue(top left width, 0);

      padding: 2rem 0;
      height: 100vh;

      list-style: none;
      text-align: center;

      background-color: $orange-theme;
      overflow: hidden;
      transition: width 0.3s;

      li {
        background-color: $light-orange-theme;
        margin: 0.2rem 0;
        width: 100%;
      }

      @media (min-width: 50em) {
        > li {
          background-color: transparent;
          margin: 0;
        }
      }

      .site-header__sub-menu-title {
        @extend %sub-menu-items;

        @media (min-width: 50em) {
          color: black;
          padding: 0.5rem 1rem;
          height: 100%;
          display: flex;
          align-items: center;
        }
        + ul {
          @media (min-width: 50em) {
            position: absolute;
            @include mixins.flex-custom(column, start, start);
            gap: 0;
            top: 4rem;
            width: 10rem;
            height: auto;
            transform: translateX(-2rem);
          }
          li {
            background-color: $light-orange-theme;
            @media (min-width: 50em) {
              background-color: rgb(204, 225, 233);
              width: 100%;
              margin: 0;
            }
            &:hover {
              background-color: #faa033;
              font-weight: 700;
              @media (min-width: 50em) {
                background-color: $light-blue-theme;
                width: 100%;
                margin: 0;
              }
            }
          }
        }
      }
    }

    ul {
      @media (min-width: 50em) {
        display: flex;
        position: static;
        width: 100%;
        padding: 0;
        background-color: transparent;
        transition: none;
        height: 100%;
      }
      a {
        @extend %sub-menu-items;
        text-decoration: none;
        @media (min-width: 50em) {
          color: black;
          padding: 0.5rem 1rem;
        }
      }

      > li {
        &:hover,
        &:hover .site-header__sub-menu-title {
          background-color: #faa033;
          font-weight: 700;
          @media (min-width: 50em) {
            background-color: rgb(226, 238, 243);
          }
        }
      }
    }

    // NAV SUB MENU //
    .bi {
      vertical-align: -0.025em;
      margin-left: 0.2rem;
    }

    .rotated {
      transform: rotate(180deg);
    }

    .site-header__sub-menu {
      width: 100%;
      list-style: none;
    }

    .site-header__menu-btn {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      border: none;
      background-color: transparent;
      cursor: pointer;

      @media (min-width: 50em) {
        display: none;
      }

      .site-header__menu-bar {
        position: absolute;
        width: 100%;
        height: 3px;
        transition: all 0.3s;
      }

      .site-header__menu-letter {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        transition: all 0.3s;
        background: transparent;
        opacity: 0;
      }

      &:hover span {
        &:nth-child(1) {
          @include transform-menu(-95%, 1);
        }
        &:nth-child(2) {
          @include transform-menu(95%, 1);
        }
        &:nth-child(3) {
          @include transform-menu(160%, 1);
        }
      }

      span {
        &:nth-child(4) {
          top: 4px;
          left: 0;
          background-color: $magenta-theme;
        }
        &:nth-child(5) {
          background-color: $green-theme;
          left: 0;
          transform: translateY(-1.5px);
        }
        &:nth-child(6) {
          background-color: $orange-theme;
          left: 0;
          bottom: 4px;
        }
      }

      &.selected {
        span {
          &:nth-child(4) {
            transform: translateY(8.9px) rotateZ(45deg);
          }

          &:nth-child(5) {
            opacity: 0;
          }

          &:nth-child(6) {
            transform: translateY(-8.9px) rotateZ(-45deg);
          }
        }
      }
    }
  }
}
