@use "variables" as *;
@use 'typography';
@use "mixins" as mixins;
@use 'header';
@use 'content';
@use 'footer';

////// GENERAL //////
a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $magenta-theme;
  }
}

.nowrap {
  white-space: nowrap;
}
