$magenta-theme: #9e1f63;
$green-theme: #00a651;
$orange-theme: #f7941d;
$light-orange-theme: #ffc074;
$grey-theme: #aaa6a6;
$dark-grey-theme: gray;
$light-blue-theme: lightblue;
$darker-light-blue-theme: rgba(173, 216, 230, 0.716);
