/* ==== General ==== */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--magenta-theme);
}


.nowrap {
  white-space: nowrap;
}
/* ==== Colors ==== */

:root {
  --magenta-theme: #9e1f63;
  --green-theme: #00a651;
  --orange-theme: #f7941d;
  --light-orange-theme: #ffc074;
  --grey-theme: #aaa6a6;
  --dark-grey-theme: gray;
  --light-blue-theme: lightblue;
  --darker-light-blue-theme: rgba(173, 216, 230, 0.716);
}

/* ==== Typography ==== */

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

/* ==== Header ==== */

.site-header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  position: fixed;
  width: 100%;
}

.site-header__logo > img {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}

.site-header__nav > ul {
  position: absolute;
  padding: 2rem 0;
  top: 0;
  left: 0;
  list-style: none;
  background-color: var(--orange-theme);
  width: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  transition: width 0.3s;
}

/* Nav toggle */
.site-header__nav.show > ul {
  width: 70%;
}

.site-header__nav > ul li {
  background-color: var(--light-orange-theme);
  margin: 0.2rem 0;
  width: 100%;
}

.site-header__sub-menu-title {
  display: inline-block;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.site-header__nav ul a {
  display: inline-block;
  padding: 0.5rem 0;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.site-header__nav ul > li:hover,
.site-header__nav ul > li:hover .site-header__sub-menu-title {
  --orange-theme: #faa033;
  background-color: var(--orange-theme);
  font-weight: 700;
}

/* Nav sub menu */
.bi {
  vertical-align: -0.025em;
  margin-left: 0.2rem;
}

.rotated {
  transform: rotate(180deg);
}

.site-header__sub-menu {
  width: 100%;
  list-style: none;
}

.site-header__sub-menu-title + ul li {
  background-color: var(--light-orange-theme);
}

.site-header__sub-menu-title + ul > li:hover {
  --orange-theme: #faa033;
  background-color: var(--orange-theme);
  font-weight: 700;
}

/* Menu button style */
.site-header__menu-btn {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site-header__menu-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  transition: all 0.3s;
}

.site-header__menu-letter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  transition: all 0.3s;
  background: transparent;
  opacity: 0;
}

.site-header__menu-btn:hover span:nth-child(1) {
  transform: translateX(-95%);
  opacity: 1;
}

.site-header__menu-btn:hover span:nth-child(2) {
  transform: translateX(95%);
  opacity: 1;
}

.site-header__menu-btn:hover span:nth-child(3) {
  transform: translateX(160%);
  opacity: 1;
}

.site-header__menu-btn span:nth-child(4) {
  top: 4px;
  left: 0;
  background-color: var(--magenta-theme);
}

.site-header__menu-btn span:nth-child(5) {
  background-color: var(--green-theme);
  left: 0;
  transform: translateY(-1.5px);
}

.site-header__menu-btn span:nth-child(6) {
  background-color: var(--orange-theme);
  left: 0;
  bottom: 4px;
}

.site-header__menu-btn.selected span:nth-child(4) {
  transform: translateY(8.9px) rotateZ(45deg);
}

.site-header__menu-btn.selected span:nth-child(5) {
  opacity: 0;
}

.site-header__menu-btn.selected span:nth-child(6) {
  transform: translateY(-8.9px) rotateZ(-45deg);
}

@media (min-width: 50em) {
  .site-header__menu-btn {
    display: none;
  }

  .site-header__nav ul {
    display: flex;
    position: static;
    width: 100%;
    padding: 0;
    background-color: transparent;
    transition: none;
    height: 100%;
  }

  .site-header__nav > ul > li {
    background-color: transparent;
    margin: 0;
  }

  .site-header__sub-menu-title {
    color: black;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .site-header__nav ul a {
    color: black;
    padding: 0.5rem 1rem;
  }

  /* .site-header__nav ul li:hover {
    background-color: white;
    box-shadow: none;
  } */

  .site-header__nav ul > li:hover,
  .site-header__nav ul > li:hover .site-header__sub-menu-title {
    --orange-theme: rgb(226, 238, 243);
    background-color: var(--orange-theme);
  }

  .site-header__sub-menu-title + ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    top: 4rem;
    width: 10rem;
    height: auto;
    transform: translateX(-2rem);
  }

  .site-header__sub-menu-title + ul li {
    background: rgb(204, 225, 233);
    width: 100%;
    margin: 0;
  }
}

/* Main section */

/* GENERAL STYLES */
/* ************** */
.box {
  border: 1px solid rgba(0, 0, 0, 0.509);
}

.news-column-heading {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

/* FORMAT COLUMNS */
/* ************** */

main {
  padding-top: 4rem;
}

.news-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding: 2rem;
}
.news-column > .news-column-section {
  flex: 1 0 auto;
  width: 100%;
  /* border-bottom: 1px solid #000; */
}

/* .mob-flex-column{
   display: flex;
   flex-direction: column;
}*/

/* COLUMN STYLES */
/* ************************* */
#latest {
  background-color: rgb(255, 251, 247);
}
#top-stories {
  background-color: rgb(236, 236, 236);
}
#insider {
  background-color: rgb(255, 251, 247);
}

/* NEWS ARTICLE CONTENTS */
/* ********************* */
.news-content {
  padding: 0;
  border-bottom: 1px solid #000;
}
.news-content * {
  margin-bottom: 1rem;
}
.news-content a {
  text-decoration: none;
}
.news-content h3 a {
  font-size: 1.5rem;
}
.news-content h3 + p {
  color: red;
}
.news-content h3 ~ p {
  font-style: italic;
}
/* IMAGE DIV */
a.thumbnail {
  width: fit-content;
  height: fit-content;
  max-height: 200px;

  margin-bottom: 1rem;
}
a.thumbnail {
  width: 100%;
  height: fit-content;
}
.thumbnail img {
  height: 100%;
  width: 100%;
  max-width: 100%;

  border-radius: 3px;
  object-fit: contain;
}

@media (min-width: 50em) {
  /* MAIN GRID */
  /* ********* */
  .desk-grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 30% 2fr 2fr 30%;

    gap: 0px;
    height: fit-content;
  }
  /* COLUMNS */
  #latest {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
  }
  #top-stories {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 5;
    grid-column-end: 4;
  }
  #insider {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 5;
    grid-column-end: 5;
  }

  /* FORMAT COLUMNS */
  /* *********************** */
  .news-column {
    /* flex: 1 1 auto; */
    justify-content: space-between;

    height: 100%;
  }

  .news-column > .news-column-section {
    width: 100%;
    height: fit-content;

    padding-bottom: 2rem;
  }

  /* NEWS ARTICLE CONTENTS */
  /* ********************* */
  .thumbnail {
    margin: 0 auto;
  }

  .news-content h3 {
    text-align: center;
  }
}

/* footer styling */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-blue-theme);
  padding: 2rem;
  padding-top: 1rem;
  border-top: 5px solid var(--magenta-theme);
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo-div img {
  width: 300px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.footer-nav-links {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

.footer-nav-links li {
  margin-left: 8px;
}

.u-list-dot {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.u-list-dot li:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 1rem;
  background-color: var(--orange-theme);
  margin: 0 8px;
}

ul {
  display: block;
}

.address {
  border-top: 2px solid black;
  background-color: var(--darker-light-blue-theme);
  padding: 1rem 1rem 1rem 0;
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


@media (min-width: 50em) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 2rem;
    padding-top: 0;
    border-top: 5px solid var(--magenta-theme);
    align-items: center;
  }

  .logo-div img {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .footer-nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1rem;
  }

  .address {
    border-top: 2px solid black;
    background-color: var(--darker-light-blue-theme);
    padding: 1rem 1rem 1rem 0;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .address * {
    margin-left: 1rem;
  }
}
